body {
    width: 1024px;
    margin: auto;
}
h1 {
    text-align: center;
    color: black;
    font-size: 3em;
}
div{
    margin-top: 200px;
}
img {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
h3 {
    text-align: center;
}
.border {
    border-style: solid;
}