body {
  font-family: 'Spinnaker', sans-serif;
  color: #fff;
  background-color: #000; }

a {
  color: #fff; }
  a:hover, a:active, a:focus {
    color: #FFFF00;
    text-decoration: none; }

.nav-tabs > li > a.hover {
  color: #FFFF00; }

h1,
h2,
h3,
h4 {
  font-family: 'Spinnaker', sans-serif;
  color: #fff; }

h1,
h2 {
  text-transform: uppercase; }
